.contenedor{
    height: 60vh;
    overflow: auto;
    padding: 5px;
}
.row{
    padding: 30px;
    height: 70%;
    overflow: auto;
    margin-bottom: 20px;
}

p{
    padding: 0;
    margin-bottom: 5px;
}

span{
    float: left;
}

input{
    width: 140px;
    float: right;
}

.btnContenedor{
    display: flex;
    justify-content: center;
}

.btn{
    margin: 10px;
}