.container{
    height: 54vh;
    overflow: auto;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items:center;
}

.row{
    display: flex;
    justify-content: center;
    width: 57vw;
}

.row.par{
    width: 57vw;
}

.col{
    display: flex;
    border: 1px solid rgb(162, 162, 162);
    justify-content: center;
    padding: 0;
}

.col-1{
    width: 4vw;
}

.col-2{
    width: 7vw;
}

.col-3{
    width: 11vw;
}

.col-4{
    width: 11vw;
}

input{
    border: none;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

p{
    margin: 0;
    padding: 0;
}

button{
    font-size: var(--tx-m);
    width: 20px;
    height: 90%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border: none;
    font-weight: 500;
}

.btnSucces{
    background-color: rgb(52, 207, 88);
}

.btnMas{
    color: black;
}


@media (min-width: 711px) and (max-width: 1100px){
    .row, .row.par{
        width: 67vw;
    }

    .col-1{
        width: 3vw;
        font-size: var(--tx-m);
    }

    .col-2, .col-4{
        width: 10vw;
    }

    .col-3{
        width: 18vw;
        padding: 0;
    }
}

@media (min-width: 560px) and (max-width: 710px){
    .row, .row.par{
        width: 75vw;
    }

    .col-1{
        width: 4vw;
        font-size: var(--tx-m);
    }

    .col-2, .col-4{
        width: 13vw;
    }

    .col-3{
        width: 17vw;
        padding: 0;
    }

}

@media (min-width: 200px) and (max-width: 559px){
    b{
        padding: 3px;
    }
    
    .row, .row.par{
        width: 98vw;
    }

    .col-1{
        width: 6vw;
        font-size: var(--tx-m);
    }

    .col-2{
        width: 16vw;
    }

    .col-3{
        width: 20vw;
        padding: 0;
    }

    .col-4{
        width: 13vw;
    }
}

@media (min-width: 200px) and (max-width: 1100px){

    input{
        font-size: var(--tx-m);
        padding: 0;
    }
    
    p{
        writing-mode: vertical-lr;
        display: flex;
        justify-content: center;
        font-size: var(--tx-smm);
    }

}