.contenedor{
    display: flex;
    justify-content: center;
}

.row{
    width: 50%;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(162, 162, 162);
}

p{
  margin: 10px;
  font-size: var(--tx-m);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 200px;
    font-size: var(--tx-m);
}

button{
    margin: 10px;
    font-size: var(--tx-m);
}

span{
    font-size: var(--tx-m);
}

@media (min-width: 280px) and (max-width: 600px) {
    .row{
        width: 77vw;
    }
  
    .col{
        width: 90%;
        border: 1px solid rgb(162, 162, 162);
    }
}

@media (min-width: 80px) and (max-width: 279px) {
    .row{
        width: 77vw;
    }
  
    .col{
        width: 90%;
        border: 1px solid rgb(162, 162, 162);
    }
    input{
        width: 140px;
    }
}